[cell-tooltip]:before {
   /* needed - do not touch */
   content: attr(cell-tooltip);
   position: absolute;
   opacity: 0;
   
   /* customizable */
   transition: all 0.15s ease;
   padding: 10px;
   color: #333;
   border-radius: 10px;
   box-shadow: 2px 2px 1px silver;    
}

[cell-tooltip]:hover:before {
   /* needed - do not touch */
   opacity: 1;
   
   /* customizable */
   background: yellow;
   margin-top: -50px;
   margin-left: 20px;    
}